.InboxPlaceholder {
    width: 80%;
    margin: auto;
    height: 100%;
    padding-top: 4rem;
    box-sizing: border-box;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
}
.banner-img {
    border-radius: 0.8rem;
    width: 300px;
    height: auto;
    object-fit: cover;
}
.banner-desc-container {
    width: 95%;
    margin: auto;
}
.banner-desc-title {
    font-size: 2rem;
    display: block;
    margin: 1rem 0;
}
.banner-desc-text {
    font: 1rem;
}
.banner-button {
    background-color: var(--accent-color);
    width: max-content;
    padding: 0.7rem 1.5rem;
    font-size: 1rem;
    border-radius: 5rem;
    margin: 2rem auto;
    cursor: pointer;
    box-shadow: 0 0 16px 3px rgba(248, 244, 244, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.banner-button:hover {
    opacity: 70%;
}
.banner-button a {
    color: white;
    text-decoration: none;
}
.banner-tnc {
    display: flex;
    align-items: baseline;
    gap: 7px;
}
.icon-lock {
    transform: translateY(-1px);
}