.TypeMessage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--secondary-color);
    padding: 0.7rem 1.5rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.options-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.options-container .option {
    cursor: pointer;
}
.input-container {
    flex: 1;
}
.input-message {
    background-color: #222863ee;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    padding: 0.7rem 1rem;
}