.SearchBar {
    background-color: var(--primary-color);
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
}
.search-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.search-input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    flex: 1;
}
.search-input {
    border: none;
    flex: 1;
    outline: none;
    background-color: transparent;
}
.search-logo {
    cursor: pointer;
}
.filter-logo {
    cursor: pointer;
}