body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px green;
}
 
::-webkit-scrollbar-thumb {
  background-color: white;
}
.App {
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}