@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

:root {
  --primary-color: #030218;
  --secondary-color: #171b4b;
  --accent-color: #0097ff;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  overflow: hidden;
}
input {
  color: white;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
 
::-webkit-scrollbar-track {
  background-color: transparent;
}
 
::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
}
.App {
  text-align: center;
  min-height: 100vh;
  box-sizing: border-box;
}